[tool.pdm]
[tool.pdm.scripts]
start = "uvicorn app.main:app --reload"

[tool.pdm.dev-dependencies]
dev = [
    "black>=23.1.0",
]
[project]
name = ""
version = ""
description = ""
authors = [
    {name = "Yifan Wu", email = "tyivanwu@gmail.com"},
]
dependencies = [
    "fastapi>=0.92.0",
    "uvicorn>=0.20.0",
    "gunicorn>=20.1.0",
]
requires-python = ">=3.10"
license = {text = "MIT"}
